<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="serverip" value="10.130.160.168"/>
    <add key="serverport" value="1434"/>
    <add key="servernumberport" value="1435"/>
    <add key="message" value="Desmond"/>
    <add key="number" value=""/>
    <add key="address" value="Ningxia"/>
    <add key="level" value="1"/>
    <add key="email" value="1324762364@qq.com"/>
    <add key="clientport" value="1436"/>
    <add key="dealport" value="1437"/>
    <add key="listenclient" value="1438"/>
    <add key="toback" value="1439"/>
    <add key="fromback" value="1440"/>
    <add key="tomonitor" value="1441"/>
  </appSettings>
    <startup> 
    
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
